
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: magenta;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: lime;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
